<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
    <script type="text/javascript" src="../../keys.js"></script>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <!-- WRAPPER OF ALL CONTAINERS -->
    <section class="wrapper-containers">
        <!-- LOGO -->
        <header>
            <h1>Pets Finder</h1>
        </header>

        <!-- NAVIGATION BAR CONTAINER -->
        <nav class="con-nav">

        </nav>

        <!-- THE MAP APP GOES HERE -->
        <section class="con-content">

        </section>

        <!-- FOOTER CONTAINER -->
        <section class="con-footer">

        </section>

    </section>




    <script type="text/javascript">
        window.onload = function () {
            L.mapquest.key = mqKey;
            map.addControl(L.mapquest.control());
        }
    </script>

    <!-- <div id="map" style="width: 98%; height: 530px;"></div> -->

    <script type="text/javascript" src="../javascript/map.js"></script>
    <script src="/homeLogic.js"></script>
</body>

</html>