<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/keys.js"></script>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <!-- WRAPPER OF ALL CONTAINERS -->
    <section class="wrapper-containers">

        <!-- LOGO -->
        <header class="con-header">
            <h1>Lost&Hound</h1>
        </header>

        <!-- NAVIGATION BAR CONTAINER -->
        <nav class="con-nav">
            <section></section><!--empty left side nav section -->
            <section><a href="/">Home</a></section>
            <section><a href="/reportlost">Report Lost Pet</a></section>
            <section><a href="/reportfound">Report Found Pet</a></section>
            <section><a href="/viewlost">View Lost Pets</a></section>
            <section><a href="/viewfound">View Found Pets</a></section>
            <section></section><!--empty right side nav section -->
        </nav>

        <!-- ADS CONTAINER -->
        <section class="con-ads">
            <!-- <img src="../../slideshow/img2.jpg" width="500px" height="500px" alt=""> -->
            <section class="mission">
                <h1>Our Goal</h1>
                <p>Provide people a platform to network and share information about lost and found pets</p>
                <h1>Our Mission</h1>
                <p>
                    We believe in people power.
                    Together we can create a great network. 
                    The greate networking leads to solving complex issues. 
                    One of these issues is to find and reconnect people with their lost beloved pets. 
                    So, join Us, Lost & Hound, and help each other accomplish our mission. 
                </p>
            </section>
            <!--slideshow.js app running inside this container-->
            <section class="diplay-imgs"></section>
        </section>

        <!-- DEVELOPERS CONTAINERS -->
        <section class="con-developers">
            <section class="farkhod"></section>
            <section class="fredrick"></section>
            <section class="jeremey"></section>
            <section class="zev"></section>

        </section>
        <!--  CONTENT CONTAINER - THE MAP APP GOES HERE -->
        <section class="con-content">

        </section>

        <!-- FOOTER CONTAINER -->
        <section class="con-footer">


        </section>

    </section>

    <!--Farkhod added slideshow.js app-->
    <script src="../../slideshow.js"></script>

    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />

    <!-- <img src="https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&dpr=1&auto=format&fit=crop&w=416&h=312&q=60"> -->

    <script type="text/javascript" src="/map.js"></script>

    <!-- <script type="text/javascript">
        window.onload = function () {
            L.mapquest.key = mqKey;
            map.addControl(L.mapquest.control());
        }
    </script> -->

    <div id="map" style="width: 98%; height: 530px;"></div>
    <div id="info"></div>
    <script src="/homeLogic.js"></script>
</body>

</html>