<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report Lost</title>
    <link rel="stylesheet" type="text/css" href="./reportlost.css">
</head>

<body>
    <div class='background' id="content">
        <div class="one">
        </div>
        <div class="two"></div>
        <div class="three">
            <a id="back" href="/">go back</a>
            <br>
            <h3>CONTACT INFO</h3>
            <div class="form-group">
                <p>Full Name</p>
                <input id="name" type="text" class="form-control" placeholder="ex: Jane Doe">
            </div>
            <div class="form-group">
                <p>Email</p>
                <input id="user-email" type="text" class="form-control" placeholder="ex: janedoe@gmail.com">
            </div>
            <div class="form-group">
                <p>Phone</p>
                <input id="user-phone" type="text" class="form-control" placeholder="ex: 510-123-1234">
            </div>
            <h3>ANIMAL DESCRIPTION</h3>
            <p>Image Upload</p>
            <div class="form-group">
                <input id="photo" type="text" class="form-control" placeholder="Link to Pet Photo (Required)">
            </div>
            <div class="form-group">
                <p>Pet Name (If applicable)</p>
                <input id="pet-name" type="text" class="form-control" placeholder="Check tags, otherwise state 'N/A'">
            </div>
            <div class="form-group">
                <p>Pet Type</p>
                <input id="pet-type" type="text" class="form-control" placeholder="ex: Corgi, Kai Ken">
            </div>
            <p>Pet Color(s)</p>
            <div class="form-group">
                <input id="pet-color" type="text" class="form-control" placeholder="ex: Black, White Spots">
            </div>
            <p>Pet Descritption</p>
            <div class="form-group">
                <input id="pet-description" type="text" class="form-control"
                    placeholder="ex: spayed/neutered, micro-chipped, declawed">
            </div>
            <h3>LOCATION DETAILS</h3>
            <p>Address</p>
            <div class="form-group">
                <input id="address" type="text" class="form-control"
                    placeholder="ex: 123 4th Street">
            </div>
            <p>City</p>
            <div class="form-group">
                <input id="city" type="text" class="form-control"
                    placeholder="ex: Oakland, SanFrancisco">
            </div>
            <p>State</p>
            <div class="form-group">
                <input id="state" type="text" class="form-control"
                    placeholder="ex: CA,TX">
            </div>
            <p>Zip Code</p>
            <div class="form-group">
                <input id="zip" type="text" class="form-control"
                    placeholder="ex: 94609">
            </div>
            <button name="submit" type="submit" id="report-lost-form" data-submit="...Sending">
                SUBMIT
            </button>
            <p id='response'></p>
        </div>
        <div class="four"> </div>
        <div class="five"> </div>
    </div>
</body>
<script src="/reportLostLogic.js"></script>

</html>