<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report Lost</title>
    <link rel="stylesheet" type="text/css" href="./reportlost.css">
</head>

<body>
    <div class='background' id="content">
        <div class="one">
        </div>
        <div class="two"></div>
        <div class="three">
            <a id="back" href="/">go back</a>
            <br>
            <h3>CONTACT INFO</h3>

            <div class="form-group">
                <p>Full Name</p>
                <input id="name" type="text" class="form-control" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <p>Email</p>
                <input id="user-email" type="text" class="form-control" placeholder="janedoe@gmail.com">
            </div>
            <div class="form-group">
                <p>Phone</p>
                <input id="user-phone" type="text" class="form-control" placeholder="510-123-1234">
            </div>
            <hr>
            <h3>ANIMAL DESCRIPTION</h3>
            <p>Image Upload</p>
            <input id="image-upload" type="file" />

            <div class="form-group">
                <p>Pet Name</p>
                <input id="pet-name" type="text" class="form-control" placeholder="examples: Ruby, Max">
            </div>
            <div class="form-group">
                <p>Animal Species</p>
                <input id="pet-type" type="text" class="form-control" placeholder="Animal Species">
            </div>
            <p>Predominant Color(s)</p>
            <div class="form-group">
                <input id="pet-color" type="text" class="form-control" placeholder="Black">
            </div>
            <p>Identifying Markings and Features</p>
            <div class="form-group">
                <input id="pet-description" type="text" class="form-control"
                    placeholder="examples: spayed/neutered, micro-chipped, declawed">
            </div>
            <button name="submit" type="submit" id="report-lost-form" data-submit="...Sending">
                SUBMIT
            </button>
            <p id='response'></p>
        </div>
        <div class="four"> </div>
        <div class="five"> </div>
    </div>
    <script src="/reportLostLogic.js"></script>
</body>

</html>