<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Found</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/viewfoundstyle.css">
</head>

<body>
    <!-- WRAPPER OF ALL CONTAINERS -->
    <section class="wrapper-containers">

        <!-- LOGO -->
        <header class="con-header">
            <h1>Lost&Hound</h1>
        </header>

        <!-- NAVIGATION BAR CONTAINER -->
        <nav class="con-nav">
            <section></section><!--empty left side nav section -->
            <section><a href="/">Home</a></section>
            <section><a href="/reportlost">Report Lost Pet</a></section>
            <section><a href="/reportfound">Report Found Pet</a></section>
            <section><a href="/viewlost">View Lost Pets</a></section>
            <section><a href="/viewfound">View Found Pets</a></section>
            <section></section><!--empty right side nav section -->
        </nav>



        <!--  CONTENT CONTAINER - THE VIEW APP GOES HERE -->
        <section class="view-container">

            <div id="pet-container-display">

                <div id="pet-info">

                <div id="photo-container">
                    <img src="http://pngimg.com/uploads/light/light_PNG14440.png">
                </div>

                <div id="pet-ntc">
                    <h3> Pet Name : Lucy</h3>
                    <h3> Pet Type : Cat </h3>
                    <h3> Pet Color : Brown</h3>
                </div>
                <div id="pet-description">
                    <p>Lucy is a beautiful cat that needs to be found. I miss her dearly and need her back =(</p>
                </div>



                </div>

                <div id="user-info">
                    <div id="user-nep">
                        <h3>Name : Steve</h3>
                        <h3>Email : steve@steve.com</h3>
                        <h3>Phone : 9545555555</h3>
                    </div>
                    <div id="user-address">
                        <h3>Address : 5555 Street Road</h3>
                        <h3>City, State : SF, California</h3>
                        <h3>Zip : 33308</h3>
                    </div>
                </div>






            </div>
            


        </section>

      
    </section>

  
<!-- 
    <div id="wrapper">

    </div> -->


    <script src="viewFoundLogic.js"></script>

</body>

</html>