<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Found</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <!-- WRAPPER OF ALL CONTAINERS -->
    <section class="wrapper-containers">

        <!-- LOGO -->
        <header class="con-header">
            <h1>Lost&Hound</h1>
        </header>

        <!-- NAVIGATION BAR CONTAINER -->
        <nav class="con-nav">
            <section></section><!--empty left side nav section -->
            <section><a href="/">Home</a></section>
            <section><a href="/reportlost">Report Lost Pet</a></section>
            <section><a href="/reportfound">Report Found Pet</a></section>
            <section><a href="/viewlost">View Lost Pets</a></section>
            <section><a href="/viewfound">View Found Pets</a></section>
            <section></section><!--empty right side nav section -->
        </nav>



        <!--  CONTENT CONTAINER - THE MAP APP GOES HERE -->
        <section class="con-content">

        </section>

        <!-- FOOTER CONTAINER -->
        <!-- <section class="con-footer">

        </section> -->

    </section>

    <h1>All found animals in found database</h1>

    <div id="wrapper">

    </div>


    <script src="viewFoundLogic.js"></script>

</body>

</html>