* {
    box-sizing: border-box;
    /* border: 1px solid grey; */
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2px;
}

/* WRAPPER OF ALL CONTAINERS */
.wrapper-containers {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.con-header {
    padding-left: 20px;
}

.con-header h1 {
    color: orange;
    font-size: 30px;
}

.con-header h1::first-letter {
    color: black;
    font-size: 50px;
}

.con-header span::first-letter {
    color: black;
}

/* ADS CONTAINER */
.con-ads {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 20px;
}

.con-ads section {
    margin: 5px;
    border-radius: 5px;
}

.con-ads section img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

/* .con-ads section:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
} */


.con-ads img {
    height: 300px;
    width: 100%;
}

.mission h1 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: olivedrab;
    text-align: center;
}

.mission p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: grey;
    text-align: center;
}



/* NAVIGATION BAR CONTAINER  */
.con-nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-around;

    background-color: orange;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.con-nav a {
    text-decoration: none;
    color: black;
}

.con-nav a:hover {
    color: #ffffff;
}


/* CONTENT CONTAINER  */
/* .con-content {
    width: 100%;
    height: 500px;
    border: 1px solid grey;
    margin-top: 105px;
} */

/* DEVELOPERS CONTAINERS  */
.con-developers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    /* border: 1px solid red; */

    padding-top: 50px;
    padding-bottom: 50px;
}

.con-developers section {
    background-color: hsla(120, 100%, 25%, 0.233);
    /* border: 1px solid grey; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.con-developers section:hover {
    background-color: hsla(120, 100%, 25%, 0.534);
    /* border: 1px solid grey; */
    padding: 10px;
    border-radius: 10px;
}

.farkhod,
.fredrick,
.jeremy,
.zev {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    width: 200px;
    height: 300px;
}

.farkhod img,
.fredrick img,
.jeremy img,
.zev img {
    border-radius: 100px;
}

.con-developers h4,
.con-developers h5 {
    color: #ffffff;
}




/* 
FOOTER CONTAINER 
.con-footer {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
  
    background-color: hsl(170, 77%, 14%);
    color: azure;
    padding: 70px;
  } */