#pet-container-display {
    margin: 50px auto;
    background-color: #97CC97;
    width: 80%;
    border-radius: 10px;
    border-style: groove;
    padding: 10px;
    
}

#pet-header, #user-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

#pet-info {
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    text-align: center;
    align-items: center;

}

h1 {
    font-size: 48px;
}

#pet-info img {
  width: 100%;
  border-radius: 25px;
}

#user-info {
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows : 1fr;
    justify-items: center;
    text-align: center;

}

